.header {
  font-family: 'Big Shoulders Inline Display', cursive;
  background-color: black;
  height: 60px;
  padding-left: 150px;
  margin-bottom: 15px;
  color: white;
  display: flex;
  align-items: center;
}